<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    <!-- doble llave para que el string itnerpolation funcione -->
    Welcome to {{ title }}!
  </h1>
  <h2>
    {{a+b}}
  </h2>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  <hr>
  <!-- Property binding [] comunicacion de html a typescript -->
  <!-- Event binding () comunicacion de las acciones html a typescript -->
  <button [disabled]="!habilita" (click)="hacerAlgo()" > CLICK </button>
  <!-- Two Way Data binding [()] comunicacion en ambos sentido html y typescript se refleja en ambos lados-->
  <input type="text" placeholder="Nombre1" [(ngModel)]="nombre1" />
  <br>
  <input type="text" placeholder="Nombre2" [(ngModel)]="nombre2" />
  <br>
  <p>Primer nombre es {{nombre1}}</p>
  <p>Segundo nombre es {{nombre2}}</p>
  <p>Resultado suma nombres {{nombre1}} {{nombre2}}</p>
</div>